.invade {
  transform: rotate(15deg);
  max-width: 100%;
  height: auto;
  position: relative; /* Размещение относительно своего обычного положения */
  top: -700px; /* Расстояние сверху в пикселях */
  left: 500px; /* Расстояние слева в пикселях */ /* Угол поворота в градусах */
}
.c {
  transform: rotate(0deg);
  max-width: 100%;
  height: auto;
  position: relative;
  top: -600px;
  left: -400px;
}
.c2 {
  max-width: 100%;
  height: auto;
  position: relative;
  top: -600px;
  left: -500px;
}
.python {
  transform: rotate(5deg);
  max-width: 100%;
  height: auto;
  position: relative;
  top: -630px;
  left: 450px;
}
.python2 {
  transform: rotate(deg);
  max-width: 100%;
  height: auto;
  position: relative;
  top: -500px;
  left: -530px;
}
.javascript{
  max-width: 100%;
  height: auto;
  position: relative;
  top: -350px;
  left: -500px;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}